[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
black = "*"
pytest = "*"
tqdm = "*"
pytest-mock = "*"
dukpy = "*"
skia-python = "*"
pysdl2 = "*"
pysdl2-dll = "*"

[dev-packages]

[requires]
python_version = "3.10"
